<% provide(:title, "About Us") %>
<h1>About Us</h1>
<div>
	<h2>Styrelsen</h2>
		<p>
			Styrelsen i Brf Oporto 1 består av fyra ordinarie ledamöter och två suppleanter. Namnen på styrelsemedlemmarna finns anslagna på tavlan i trapphuset.
		</p>
		<p>
			Du kan maila till styrelsen på adressen styrelsen@oporto1.se. Eftersom styrelsemedlemmarna arbetar ideellt, kan det ta någon vecka innan du får svar.
		</p>
			Att vara styrelseledamot i föreningen innebär ett stort ansvar, men även möjlighet att påverka vårt boende för allas bästa. Styrelsens arbete skall syfta framåt mot förbättringar. Styrelsen skall också verka för god ekonomi för föreningen.
		<p>
			Styrelsen har ett gemensamt ansvar för hela bostadsrättsföreningens verksamhet. Det innebär att samtliga styrelseledamöter har ansvar även för delegerade uppgifter. För övrigt regleras styrelsens arbete av
		</p>
		<ul>
			<li>Föreningens stadgar</li>
			<li>Lagen om ekonomiska föreningar</li>
			<li>Bostadsrättslagen</li>
			<li>Hyreslagen</li>
			<li>Bokföringslagen</li>
			<li>Årsredovisningslagen samt</li>
			<li>Aktuell skattelagstifning.</li> 
		</ul>
	<h2>Sekretess</h2>
		<p>
			Styrelsens protokoll och diskussioner är ej offentliga för andra än nuvarande styrelseledamöter och revisorer. Styrelsen har tystnadsplikt om allt som rör den enskilde medlemmen.
		</p>
	<h2>Arvoden</h2>
		<p>
		Styrelsens arvoden beslutas på den ordinarie föreningsstämman och fördelningen görs på det konstituerande mötet. För närvarande erhåller styrelseledamöterna inget arvode. Revisors arvode beslutas på stämman.
		</p>
</div>