<% provide(:title, "About Us") %>
<h1>About Us</h1>
<p>
	Dwelling is a project that aims to make it easier to remodel your home. Sure, the idea isn't original and <a href="http://houzz.com">houzz.com</a> has a big head start. But we've got a plan to beat them in Europe.
</p>