<% provide(:title, "Hjälp") %>
<h1>Hjälp</h1>
<div>
	<h2>Felanmälan</h2>
		<p>
		Fel i de utrymmen och de anläggningar som är våra gemensamma åtgärdas på föreningens bekostnad. Anmäl alltid fel till styrelsen om de inte är akuta. Vi sparar pengar om vi inte behöver tillkalla fastighetsskötaren.
		</p>
		<p>
			Fel i din egen lägenhet åtgärdar du på din egen bekostnad. Läs mer om detta i stadgarna, paragraf fem.
		</p>
	<h2>Felanmälan vid fel på allmänna utrymmen, gemensamma vattenledningar etc.</h2>
		<p>
			Vänd dig direkt till någon i styrelsen i första hand. Namnen finns på anslagstavlan i trapphuset. Vid mindre brådskande fel, maila till styrelsen@oporto1.se. Det kan ta någon veckan innan du får svar.
		</p>
	<h2>Felanmälan vid mycket akuta ärenden</h2>
		<p>
			Vid akuta fel, som måste åtgärdas omedelbart, om du inte får tag i någon styrelseledamot, använd nedanstående telefonnummer. Om felet är i din egen lägenhet, så får du själv betala för åtgärderna i de flesta fall.
			<ul>
				<li>Hissgruppen, telefon   08-21 33 00</li>
				<li>Vatten/avlop IAL skadjour  020 84 00 85</li>
				<li>Värme och värmeelement RT driftservice  08 735 44 40</li>
				<li>El Zakel 0736 006 461</li>
				<li>Jourtelefon 020 84 00 85</li>
			</ul>
		</p>
</div>