<div class="center hero-unit">
	<!--<%= image_tag("Stockholm-Sweden-wallpaper.jpg", alt: "Brf Oporto1 picture") %>-->
	<h1>OPORTO1</h1>
	<h2>
		Välkommen till hemsidan <br>
		för Bostadsrättsföreningen Oporto 1
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
