<div class="center hero-unit">
	<%= image_tag("brf_oporto1_aerial_photo.jpeg", alt: "Brf Oporto1 picture") %>

	<h2>
		Välkommen till hemsidan för Bostadsrättsföreningen Oporto 1 - <br>
		för dig som bor i Brf Oporto 1, <br>
		för dig som funderar på att flytta hit, <br>
		för dig som är mäklare och <br>
		för dig som har fått uppdrag i huset.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
