<div class="center hero-unit">
	<h1>Welcome Home</h1>

	<h2>
		This is the place to design your dream pad and find the best home professionals to make it a reality.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>