<footer class="footer">
	<small>
		Site by <a href="http://se.linkedin.com/pub/justin-drees/18/887/a6a/">JZD</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Om Oporto1", about_path %></li>
			<li><%= link_to "Kontakt", contact_path %></li>
			<li><%= link_to "Nyheter", news_path %></li>
		</ul>
	</nav>
</footer>