<footer class="footer">
	<small>
		Site by <a href="http://se.linkedin.com/pub/justin-drees/18/887/a6a/">Ghostface Mozilla</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Om oss", about_path %></li>
			<li><%= link_to "Kontakt", contact_path %></li>
			<li><a href="http://news.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>